APP_DIRECTORY="${PWD}"
APPLICATION_NAME=<:APPLICATION:>
TECH_DIRECTORY="${APP_DIRECTORY}"/.tech
STACK_DIRECTORY="${TECH_DIRECTORY}"/stack
BIN_DIRECTORY="${TECH_DIRECTORY}"/bin
DOCKER_COMPOSE_ENV_FILE="${STACK_DIRECTORY}"/.env-file