<VirtualHost *:80>
    ServerName <:APPLICATION:>.docker
    ServerAlias <:APPLICATION:>.docker

    SetEnv MAGE_MODE "developer"

    DocumentRoot "/app/pub"
    <Directory "/app/pub">
         Require all granted
         AllowOverride All
    </Directory>
</VirtualHost>